.app-wrapper {
	background-position: center top;
	background-repeat: no-repeat;
	color: white;
	height: $APP_H;
	text-align: center;
	width: $APP_W;
}
.centered {
	margin: 0 auto;
}
#appTitle {
	padding-top: 12px;
}
