.app-wrapper {
	background-position: center top;
	background-repeat: no-repeat;
	color: white;
	height: $APP_H;
	position: relative;
	text-align: center;
	width: $APP_W;
}
.centered {
	margin: 0 auto;
}
#appTitle {
	padding-top: 12px;
}
.info-btn {
	padding-top: 12px;
}
.info-card {
	height: 418px;
	left: 50%;
	position: absolute;
	top: 0%;
	transform: translate(-50%, 0%);
	width: 347px;
}
.showMe {
	display: inline block;
}
.hideMe {
	display: none;
}
