.clock-wrapper {
	height: 340px;
	font-size: 48px;
	margin: 0 auto;
	margin-top: 20px;
	width: 340px;
}
.clock {
	height: 320px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto;
	width: 320px;
}
#clockName {
	font-size: 30px;
	padding-top: 40px;
}
