.clock-wrapper {
	height: $CLOCK_WRAP_SIDE;
	font-size: 48px;
	margin: 0 auto;
	margin-top: 20px;
	width: $CLOCK_WRAP_SIDE;
}
#clockName {
	font-size: 30px;
	padding-top: 40px;
}
.bg-img {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto;
}
.clock-display {
	height: $CLOCK_BG_SIDE;
	width: $CLOCK_BG_SIDE;
}
.time-display {
	height: $TIME_BG_H;
	width: $TIME_BG_W;
}
#timeDigits {
	padding-top: 20px; // NEEDS to be centered dynamically
}
.blinking {
	animation: blinker 1s step-start infinite;
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}
