.settings-wrapper {
	height: $SETTINGS_H;
	background-position: center top;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 20px;
	width: $SETTINGS_W;
}
#minsTextImg {
	margin-top: -10px;
	margin-bottom: -10px;
}
.settings-btn {
	margin-top: -20px;
	vertical-align: middle;
	padding-top: 8px;
}
#plusBtn {
	padding-left: 20px;
}
#minusBtn {
	padding-right: 20px;
}
#sessionTime {
	font-size: 42px;
}
